h1{text-align: center;}

body{
    background-image: url(images/paisagem-em-branco-no-parque-natural-durante-o-dia_1308-57676.webp);
}
.square{
    height: 100px;
    width: 100px;
background-color:rgb(246, 246, 235);
margin: 2px;
border: 1px solid black;
display: inline-block;}

.stage{text-align: center;
}
.container{
    display: flex;
    justify-content: center;
}




.o{ position: relative
    
}

.o:after{
position: absolute;
content: "\1F7E2";
font-size: 50px;
line-height: 100px;
right: 0;
left: 0;
top:0;
bottom:0;}


.x{position: relative;
    
}

.x:after{
    
position: absolute;
content: "\274E";
font-size: 50px;
line-height: 100px;
right: 0;
left: 0;
top:0;
bottom:0;}

.container-contador{
border-radius: 10px;
padding: 20px 40px;
background-color: rgba( 255, 255, 255, 0.462);
position: relative;
left: 100px;
top: 85px;
height: 150px;
}

.container-btn{
    display: flex;
    justify-content: center;
}


.btn{
color: white;
padding: 10px 15px;
border-radius: 5px;
border: 1px solid transparent;
background-color:rgb(68, 161, 208);
cursor: pointer
}

.btn:hover{
    background-color:rgb(50, 130, 160) ;
}